// sitevariables
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');


//Colors
$colorWhite: #fff;
$colorBlack:#000;

$colorNav: #565b65;
$colorNavHover: #39c1c7;


$colorLinks:#39c1c7;
$colorPrimary:#39c1c7;

$colorExtraDark:#424956;
$colorDark:#565b65;
$colorMidDark:#77787b;

$colorLight:#ababab;
$colorExtraLight:#eaeaea;


$colorHeadingBg:#F2F2F2;
$colorLightBlack:#030303;
$colorLinkHover:#dca72e;
$colorSubmit:#dca72e;
$colorLeftActive:#ffe45f;
$colorPurple:#a88ece;
$colorBlue:#7c86ad;
$colorYellow:#e1be0c;
$colorOrange:#ff8e64;

$colorBorderLight:#eaeaea;
$colorRegister:#39c6c7;
$colorReaderTop:#1f2533;

$colorBuddyBtn:#8fc637;  
$colorPlaceholder:#9ecdce;

$colorBtnSecondary:#ffcc4b;  
$colorBtnSecondaryH:#e7bc42;


$colorBtnBlue:#6caef2;  
$colorBtnBlueH:#609edd;



//Fonts
$font:'Roboto', sans-serif;
$fthin:100;
$flight:300;
$fregular:400;
$fmedium:500;
$fbold:700;
